@model IEnumerable<WebApplication5.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h2>Hadith Books</h2>

<table class="table table-bordered">
    <thead>
        <tr>

            <th>Book Name</th>
            <th>Writer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>

                <td>@book.BookName</td>
                <td>@book.WriterName</td>
                <td>
                    <a href="@Url.Action("Chapters", "Hadith", new { bookSlug = book.BookSlug })" class="btn btn-primary">View Chapters</a>
                </td>
            </tr>
        }
    </tbody>
</table>